/* Burbuja flotante informativa */


.burbuja{
position:fixed;
bottom:90px;
right:20px;
background:var(--rosado);
color:#000;
padding:14px 16px;
border-radius:50px;
font-size:14px;
font-weight:600;
animation:flotar 2s infinite ease-in-out;
z-index:999;
}


@keyframes flotar{
0%{transform:translateY(0)}
50%{transform:translateY(-6px)}
100%{transform:translateY(0)}
}


/* WhatsApp flotante */


.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25d366;
color:#fff;
width:55px;
height:55px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:26px;
z-index:999;
}
